@import "tailwindcss";
@plugin "daisyui";

.text-gradient {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-gradient {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
  color: white;
}
.btn-gradient:hover {
  background: linear-gradient(to right, #ea580c, #db2777, #7c3aed);
}
.bg-gradient {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
}